* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.display {
  text-align: right;
}

.keys {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50px;
  justify-content: space-between;
}