* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-size: 64px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

body {
  background-color: #3c5436
}

button {
  background-color: #bfbfbf;
  padding: 15px 18px;
  border: 1.6px solid grey;
  border-radius: 50px;
  font-size: 132px;
}

button:hover {
  cursor: pointer;
  background-color: #d4d4d4;
}

button:active {
  cursor: default;
  background-color: #8a8a8a;
}

.calculator {
  border-radius: 12px;
  background-color: #b4c7ab;
  border: 25px solid #718c65;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 500px;
}

.display {
  border-radius: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #95ff42;
  height: 132px;
}

.keys {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-between;
}